@import "./base.css";

#root {
  .swiper-slide {
    height: auto;
  }
}

.section {
  height: 100vh;
  width: 100vw;
  min-height: fit-content !important  ;
  display: flex;
  align-items: center;
  background-color: yellow;
  margin-bottom: 0px;
  transition: margin-bottom 0.5s;
}
/* Swiper */

.swiper {
  background-color: red;
  display: flex !important;
  align-items: stretch !important;
  width: 100vw !important;
  padding-bottom: 50px !important;
  height: fit-content !important;
  overflow: visible !important;
}

.slide {
  position: relative;
  width: fit-content !important;
  background-color: blue;
  min-height: 100% !important;
  overflow: visible !important;
}
/* Card */

.card {
  min-width: 300px;
  max-width: 800px;
  width: 60vw;
  min-height: 100% !important;

  background: linear-gradient(
    -30deg,
    rgb(159, 182, 255) 0%,
    rgb(105, 73, 126) 100%
  );

  padding: 20px 20px 0px 20px;
  border-radius: 10px !important;

  box-shadow: 0 0 4px 2px rgba(5, 0, 0, 0.3);

  z-index: 99 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardImg {
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 0 4px 2px rgba(5, 0, 0, 0.3);
}

.cardContent {
  color: white;
}

.cardTitle {
  margin-top: 20px;
  font-weight: bold;
  font-size: var(--XL);
}

.cardDesc {
  margin-top: 10px;
  font-size: var(--S);
  text-align: justify;
}

/* Card Bottom*/
.cardBottom {
  position: relative;
  height: fit-content;
  width: 100%;
  margin-top: 20px;
  color: rgb(25, 0, 58);
  background-color: white;
  border-radius: 7px;
  font-size: var(--S);
  margin-bottom: 20px;
}

.cardBtn {
  width: 100%;
  color: rgb(25, 0, 58);
  background-color: white;
  max-height: 500px;
  text-align: center;
  border-radius: 7px;
  font-weight: bold;
  padding: 10px 0px;
  cursor: pointer;
}

/* Itinerario */

.itinerario {
  position: absolute;
  top: 0;
  width: calc(100% - 20px);
  height: fit-content;
  transition: all 0.5s;
  padding: 10px;
  z-index: 99;
  background-color: white;
  border-radius: 7px;
  overflow-y: visible;
  max-height: 2000px;
  box-shadow: 0 0 8px 2px rgba(5, 0, 0, 0.3);
}

.itinerarioColapsado {
  position: absolute;
  top: 0;
  width: calc(100% - 20px);
  height: fit-content;
  transition: all 0.5s;
  padding: 0px 10px;
  z-index: 99;
  background-color: white;
  border-radius: 7px;
  overflow-y: hidden;
  max-height: 0px;
  box-shadow: 0 0 8px 2px rgba(5, 0, 0, 0);
}

.itinerarioTitulo {
  padding: 10px 10px;
  font-size: var(--M);
  font-weight: bold;
}
.actividad {
  display: flex;
  flex-direction: column;
  background: url(https://grainy-gradients.vercel.app/noise.svg),
    linear-gradient(-90deg, rgb(255, 255, 255) 0%, rgb(238, 238, 238) 100%);
  padding: 15px 20px;
  border-radius: 7px;
  text-align: justify;
  margin-bottom: 20px;
}

.actividadTop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  text-align: start;
}

.actividadTitulo {
  font-weight: bold;
}

.actividadEstatus {
  color: orange;
  font-weight: bold;
}
